<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>vue demo</title>
        <style>
            body {
                margin: 10px;
            }

            .active {
                color: red;
            }
        </style>
        <!-- 开发环境版本，包含了有帮助的命令行警告 -->
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <!-- 生产环境版本，优化了尺寸和速度 -->
        <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    </head>
    <body>

        <div id="app">
            <input v-model="name"><br/>
            <span v-bind:class="{active:isActive}">欢迎来到vue学习课堂!!! ===>>></span> {{ name }}<br/>

            <!--<span style='color:red'>dddd</span>-->
            <p>Using mustaches: {{ name }}</p>
            <p>Using v-html directive: <span v-html="name"></span></p>

            <span v-once>这个将不会改变: {{ name }}</span>
        </div>

        <hr/>
        <div id="app-2">
          <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
          </span>
        </div>

        <hr/>
        <div id="app-3">
            <p v-if="seen">现在你看到我了</p>
        </div>

        <hr/>
        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{ todo.text }}
                </li>
            </ol>
        </div>

        <hr/>
        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转消息</button>
        </div>

        <hr/>
        <div id="app-6">
            <input v-model="a" type="number">+<input v-model="b" type="number">={{c}}
        </div>

        <hr/>
        <div id="app-7">
            <input v-model="a" type="number">+<input v-model="b" type="number">=<input v-model="c" type="number">
        </div>
    </body>
    <script>
        var app7 = new Vue({
            el: "#app-7",
            data: {
                a: 0,
                b: 0
            },
            computed: {
                c: {
                    // getter
                    get: function () {
                        return parseInt(this.a) + parseInt(this.b);
                    },
                    // setter
                    set: function (newValue) {
                        this.a = newValue - 5;
                        this.b = 5;
                    }
                }
            }
        });

        var app6 = new Vue({
            el: "#app-6",
            data: {
                a: 0,
                b: 0
            },
            computed: {
                c: function () {
                    return parseInt(this.a) + parseInt(this.b);
                }
            }
        });

        //事件方法使用
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: '1234567890'
            },
            methods: {
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        //for的使用
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    {text: '学习 JavaScript'},
                    {text: '学习 Vue'},
                    {text: '整个牛项目'}
                ]
            }
        });
        app4.todos.push({
            text: new Date()
        });
        setInterval(function () {
            app4.todos[3].text = new Date();
        }, 3000);

        // if的使用
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });
        setInterval(function () {
            app3.seen = !app3.seen;
            app.isActive = !app.isActive;
        }, 3000);

        //title的使用
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: '页面加q载于 ' + new Date().toLocaleString()
            }
        });

        //值的使用
        var app = new Vue({
            el: '#app',
            data: {
                name: "maben",
                isActive: true
            }
        });
        // $watch 是一个实例方法
        app.$watch('name', function (newValue, oldValue) {
            // 这个回调将在 `vm.a` 改变后调用
            console.log("===newValue>>>", newValue);
            console.log("===oldValue>>>", oldValue);
        })

    </script>
</html>